<h1 style = "text-align: center; color: #7C064D;" >BOATS</h1>


<div id = "boatlist">

  <% if @listingsboats.empty? %>
      <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center;">
        <p style ="margin: 10px;font-size: 20px; color: #e20049;">NO BOATS ADDED YET</p>
      </div>
  <% end %>


    <%- @listingsboats.each do |i| -%>          
            <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="wrap">              
                <div class="card1" style = "outline: 0px solid black;"> 
                      <%= link_to i do %>

                      <!-- , target: :_blank  -->
                          <div class="slideshow-container" >

                            <%- if i.imagefront.present? -%>
                              <div class="mySlides">
                                <img src=<%= i.imagefront.url(:thumb) if i.imagefront.present? %> style="width:100%; height: 200px;">
                              </div>
                            <% end %>

                            <%- if i.imageback.present? -%>
                              <div class="mySlides">
                                <img src=<%= i.imageback.url(:thumb) if i.imageback.present? %> style="width:100%; height: 200px;">
                              </div>
                            <% end %>

                            <%- if i.imageleft.present? -%>  
                              <div class="mySlides">
                                <img src=<%= i.imageleft.url(:thumb)  if i.imageleft.present? %> style="width:100%; height: 200px;">
                              </div>

                            <% end %>

                            <%- if i.imageright.present? -%>  
                              <div class="mySlides">
                                <img src=<%= i.imageright.url(:thumb)  if i.imageright.present? %> style="width:100%; height: 200px;">
                              </div>

                            <% end %>

                            <%- if i.interiorfront.present? -%>  
                              <div class="mySlides">
                                <img src=<%= i.interiorfront.url(:thumb)  if i.interiorfront.present? %> style="width:100%; height: 200px;">
                              </div>

                            <% end %>

                           

                            <a class="prev">&#10094;</a>
                            <a class="next">&#10095;</a>
                              

                            <div style="text-align:center; margin-top: -35px;">
                              <%- if i.imagefront.present? -%>
                                <span class="dot"></span>
                               <% end %>
                               <%- if i.imageback.present? -%>
                                <span class="dot" ></span>
                               <% end %>
                               <%- if i.imageleft.present? -%>
                                <span class="dot" ></span>
                               <% end %>
                               <%- if i.imageright.present? -%>
                                 <span class="dot"></span>
                               <% end %>

                               <%- if i.interiorfront.present? -%>
                                 <span class="dot"></span>
                               <% end %>              

                                                   
                            </div>
                          </div> 
                      <% end  %>
                      <div class="description">
                            <div class="row">
                              <div class="col-sm-12">
                                <h5 class="row text-center" style = "color: #2a93d5;"><strong><%= i.title.upcase %></strong></h5>

                                <div class="col-sm-12">
                                  <p style ="margin: 1px;font-size: 20px; color: #7C064D;">From <span class="glyphicon glyphicon-usd" aria-hidden="true"></span><%= i.rateperhour %></p>
                                </div>

                                <div class="col-sm-12">
                                  <p style ="margin: 1px;font-size: 12px; color:#e20049;">Location: <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><%= i.city.capitalize %></p>
                                </div>
                                

                                <div class="col-sm-12">
                                  <p style ="margin: 0px;font-size: 10px;">Min. <%= i.rentalminimum %> hours - Year <%= i.year %> - Sleeps <%= i.sleeps %></p>                          
                                </div> 

                              </div>                  
                            </div>
                      </div>                      
                </div>                  
                            
              </div>
            </div>
    <% end %> 
</div>
