<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Accuracy:</strong>
  <%= @review.accuracy %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @review.communication %>
</p>

<p>
  <strong>Cleanliness:</strong>
  <%= @review.cleanliness %>
</p>

<p>
  <strong>Location:</strong>
  <%= @review.location %>
</p>

<p>
  <strong>Checkin:</strong>
  <%= @review.checkin %>
</p>

<p>
  <strong>Owners behaviour:</strong>
  <%= @review.owners_behaviour %>
</p>

<p>
  <strong>Valueformoney:</strong>
  <%= @review.valueformoney %>
</p>

<p>
  <strong>Reviewerid:</strong>
  <%= @review.reviewerid %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
 -->