<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Startdate:</strong>
  <%= @availability.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @availability.enddate %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
 -->